@charset "UTF-8";
body {
  font: 15px 'Open Sans', 'Noto Sans KR', '맑은 고딕', sans-serif;
}

@import 'reset';
@import 'common';
@import 'header';
@import 'sub_section';
@import 'footer';

@media screen and (max-width: 1220px) {
  #header #header-wrapper {
    min-width: 1024px;
    max-width: 100%;
    padding: 35px 20px 0 20px;
    nav #gnb .sub div>li>a {
      margin-right: 20px;
    }
  }
  #section02 .content {
    article {
      box-sizing: border-box;
      width: 100%;
      padding: 0 30px;
      img {
        min-width: 100%;
        height: 100%;
      }
    }
  }
  .section .content {
    width: 100%;
    transition: .4s;
    padding: 0 20px;
    >h6,
    >h3 {
      padding: 0 30px;
      transition: .4s;
    }
  }
  #footer #foot-menu .content,
  #footer #copyright {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
  }
  #section03.join {
    table {
      width: 900px;
    }
  }
}