@charset 'UTF-8';
body
{
    font: 15px 'Open Sans', 'Noto Sans KR', '맑은 고딕', sans-serif;

    background: url(../img/body-bg.jpg) no-repeat center bottom fixed;
    background-size: cover;
}

body
{
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section
{
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
table
{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: bold;
}

ul,
ol,
li
{
    list-style: none;
}

a
{
    text-decoration: none;

    color: inherit;
}

img
{
    border: 0;
}

address,
em,
i
{
    font-style: normal;
}

table
{
    border-collapse: collapse;
}

table caption
{
    overflow: hidden;

    width: 0;
    height: 0;
}

#wrapper
{
    overflow: hidden;

    min-width: 1024px;
}

@media screen and (max-width: 850px)
{
    #wrapper
    {
        overflow: hidden;

        min-width: 320px;
    }
}

#skip-nav
{
    font-size: 16px;
    line-height: 40px;

    position: fixed;
    z-index: 100000;
    top: -41px;
    left: 0;

    width: 100%;

    -webkit-transition: .4s;
            transition: .4s;
    text-align: center;

    color: white;
    border-bottom: 1px solid #e0e0e0;
    background: rgba(0, 0, 0, .6);
}

#skip-nav:focus
{
    top: 0;
}

.section
{
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    background: white;
}

.section h1
{
    margin-top: 20px;
}

.section .content
{
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
}

.s-menu
{
    font: 16px 'Montserrat', sans-serif;
    font-weight: 600;

    word-spacing: 2px;
    text-transform: uppercase;

    color: #ce995c;
}

.m-menu
{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 600;

    letter-spacing: -1.5px;

    color: #222;
}

.btn
{
    font: 14px 'Montserrat', sans-serif;
    font-weight: 500;

    display: block;

    width: 90px;
    padding: 10px 20px;

    -webkit-transition: .4s;
            transition: .4s;
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;

    color: #ce995c;
    border: 2px solid #ce995c;
    background: white;
}

.btn-item
{
    width: 100px;
    margin: 0 auto;

    color: white;
    border-color: white;
    background: rgba(255, 255, 255, 0);
}

.btn-item:focus,
.btn-item:hover
{
    border-color: #ce995c;
    background: #ce995c;
}

span.text-indent
{
    display: inline-block;

    text-indent: -999px;
}

#fix-box
{
    display: none;
    overflow: hidden;
}

#fix-box a.fix-scroll-btn
{
    position: fixed;
    z-index: 10000;
    right: 15px;
    bottom: 103px;

    overflow: hidden;

    width: 40px;
    height: 40px;

    -webkit-transition: .4s;
            transition: .4s;

    color: rgba(255, 255, 255, .9);
    border-radius: 100px;
    background: #777;
}

#fix-box a.fix-scroll-btn:focus,
#fix-box a.fix-scroll-btn:hover
{
    background: #ce995c;
}

#fix-box a.fix-scroll-btn.down-btn
{
    bottom: 60px;
}

#fix-box a.fix-scroll-btn i
{
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

@media screen and (max-width: 850px)
{
    .section .content
    {
        width: 100%;
    }
    .s-menu
    {
        text-align: center;
    }
    .m-menu
    {
        font-size: 30px;

        text-align: center;
    }
    .more-btn,
    .mobile-menu
    {
        display: block;
    }
    div.more-btn
    {
        margin: 30px auto 0;
    }
    div.more-btn a.more-btn
    {
        font-size: 11px;
        font-weight: bold;
        line-height: 40px;

        display: block;

        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 150px;
        height: 40px;
        margin: 0 auto;

        text-align: center;
        letter-spacing: 2px;

        color: #444;
        border: 1px solid #444;
        border-radius: 30px;
    }
    .mobile-menu
    {
        float: left;
        overflow: hidden;

        width: 24px;
        height: 24px;
        margin-top: 5px;

        -webkit-transition: .4s;
                transition: .4s;
    }
    .mobile-menu span
    {
        position: relative;

        display: block;

        width: 50px;
        height: 3px;
        margin: 0 0 0 0;

        background: black;
    }
    .mobile-menu span:nth-child(2)
    {
        display: block;

        width: 20px;
        height: 3px;
        margin: 6px 0 0 0;

        background: black;
    }
    .mobile-menu span:nth-child(3)
    {
        display: block;

        width: 50px;
        height: 3px;
        margin: 5px 0 0 0;

        background: black;
    }
    #header.m-open .mobile-menu span:nth-child(1)
    {
        margin: 16px 0 0 -7px;

        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);

        background: white;
    }
    #header.m-open .mobile-menu span:nth-child(2)
    {
        margin: -8px 0 0 0;

        opacity: 0;
    }
    #header.m-open .mobile-menu span:nth-child(3)
    {
        display: block;

        width: 50px;
        height: 3px;
        margin: -9px 0 0 -7px;

        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);

        background: white;
    }
}

#header
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 55px;

    border-bottom: 1px solid #ebebeb;
    background: white;
}

#header.m-open
{
    height: 100%;

    border-bottom: none;
}

#header.m-open:before
{
    position: fixed;

    width: 100%;
    height: 100%;

    content: '';

    background: black;
}

#header.m-open #logo-item,
#header.m-open #right-util
{
    display: none;
}

#header.m-open nav
{
    display: block;
}

#header #header-wrapper
{
    position: relative;

    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    height: 100%;
    padding: 12px 20px;
}

#header #logo-item
{
    font: 22px 'Open Sans', sans-serif;
    font-weight: 700;

    position: relative;

    display: block;
    float: left;

    margin-left: 20px;

    letter-spacing: -1.5px;

    color: #222;
}

#header #logo-item span
{
    font-weight: 400;

    -webkit-transition: .4s;
            transition: .4s;
}

#header nav
{
    display: none;
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#header nav #gnb
{
    position: fixed;
    top: 55px;
    left: 0;

    overflow: hidden;

    width: 100%;

    text-align: center;

    color: white;
}

#header nav #gnb > li
{
    float: left;

    width: 25%;

    letter-spacing: 1px;
}

#header nav #gnb > li > a
{
    font-size: 14px;
    font-weight: 600;

    -webkit-transition: .4s;
            transition: .4s;

    color: #ce995c;
}

#header nav #gnb > li:last-child
{
    position: absolute;
    bottom: 0;
    left: 0;
}

#header nav #gnb .sub
{
    line-height: 1.6;

    overflow: hidden;

    margin: 18px 0 24px;
}

#header nav #gnb .sub div
{
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#header nav #gnb .sub div > li
{
    -webkit-transition: -webkit-transform .5s;
            transition: -webkit-transform .5s;
            transition:         transform .5s;
            transition:         transform .5s, -webkit-transform .5s;
}

#header nav #gnb .sub div > li > a
{
    font-size: 13px;

    -webkit-transition: .4s;
            transition: .4s;
}

#header nav #gnb .sub div > li > a:focus,
#header nav #gnb .sub div > li > a:hover
{
    color: #ce995c;
}

#right-util
{
    float: right;
    overflow: hidden;

    margin-top: 6px;

    -webkit-transition: .4s;
            transition: .4s;
}

#right-util li
{
    float: left;
}

#right-util li:nth-of-type(2) a:after
{
    display: inline-block;

    width: 2px;
    height: 10px;
    margin-left: 35px;

    content: '';

    background: #ddd;
}

#right-util li:nth-child(1),
#right-util li:nth-child(2)
{
    display: none;
}

#right-util li:nth-child(4) a
{
    margin-left: 35px;
}

#right-util li a
{
    -webkit-transition: .4s;
            transition: .4s;
}

#right-util li a:focus,
#right-util li a:hover
{
    color: #ce995c;
}

#right-util .text
{
    font-size: 14px;
    font-weight: 600;

    color: #444;
}

#right-util .fa-search,
#right-util .fa-map-marker
{
    font-size: 20px;
}

@media screen and (max-width: 600px)
{
    #header nav #gnb > li
    {
        width: 50%;
        margin-bottom: 20px;
    }
    #header nav #gnb > li:last-child
    {
        position: relative;
    }
    #header nav #gnb > li a
    {
        font-size: 13px;
    }
    #header nav #gnb .sub
    {
        line-height: 1.4;
    }
    #header nav #gnb .sub div > li > a
    {
        font-size: 12px;
    }
}

ul
{
    overflow: hidden;
}

ul li
{
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

p
{
    color: #777;
}

#section01
{
    height: 420px;
    padding-top: 55px;

    border-bottom: 1px solid #ebebeb;
}

#section01 .content
{
    position: relative;

    width: 100%;
    height: 100%;
}

#section01 .img-article
{
    position: absolute;
    top: 0;
    left: 50%;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 30px;

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
}

#section01 .img-article p
{
    display: none;
}

#section01 .img-article img
{
    position: absolute;
    z-index: -1;
    top: 40%;
    left: 50%;

    min-width: 100%;
    height: 100%;

    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
}

#section01 li:nth-child(2) article img,
#section01 li:nth-child(3) article img
{
    top: 70%;
    left: 40%;

    min-width: 0;
    height: 60%;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#section01 .s-menu
{
    margin-top: 40px;
}

#section01 .m-menu
{
    font-size: 26px;

    margin-top: 20px;
}

#section01 .btn
{
    font-size: 12px;
    font-weight: 600;

    display: inline-block;
}

#section01 .btn-start
{
    margin-top: 30px;
}

#section01 .color-black .m-menu
{
    color: white;
}

#section01 .color-black .btn-start
{
    color: #ce995c;
    background: white;
}

#section02 .content
{
    margin-top: 50px;
}

#section02 .content ul
{
    margin-top: 50px;
}

#section02 .content li
{
    position: relative;

    display: none;
    float: left;

    width: 50%;
    height: 450px;

    background: url('../img/best-item01.jpg') center center no-repeat;
    background-size: cover;
}

#section02 .content li:nth-of-type(1),
#section02 .content li:nth-of-type(2)
{
    display: block;
}

#section02 .content li:nth-child(2)
{
    background-image: url('../img/best-item02.jpg');
}

#section02 .content li div
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
}

#section02 .content li.on div
{
    opacity: 1;
    background: #ce995c;
}

#section02 .content li img
{
    position: relative;
    top: 50%;
    left: 50%;

    overflow: hidden;

    min-width: 100%;
    min-height: 100%;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#section02 .content li strong
{
    font: 14px 'Montserrat', sans-serif;
    font-weight: 600;

    display: block;

    width: 80%;
    margin: 130px auto 0;

    text-align: left;

    color: white;
}

#section02 .content li p
{
    font-size: 13px;
    font-weight: 400;

    width: 80%;
    margin: 50px auto 0;

    text-align: left;

    color: white;
}

#section02 .content li .s-menu
{
    font-size: 17px;
    font-weight: normal;

    letter-spacing: 0;

    color: #222;
}

#section02 .content li .btn-item
{
    position: absolute;
    bottom: 15%;
    left: 10%;
}

#section02 .content li .btn-item:focus,
#section02 .content li .btn-item:hover
{
    color: white;
    border-color: white;
    background: rgba(255, 255, 255, .2);
}

#section03 .content
{
    margin: 50px auto;
}

#section03 .content > p
{
    font-size: 14px;

    margin: 30px 25px 0;

    text-align: center;
}

#section03 .content ul
{
    margin-top: 50px;
}

#section03 .content li
{
    position: relative;

    display: none;
    float: left;

    width: 50%;
    height: 450px;

    background: url('../img/best-item01.jpg') center center no-repeat;
    background-size: cover;
}

#section03 .content li:nth-of-type(1),
#section03 .content li:nth-of-type(2)
{
    display: block;
}

#section03 .content li img
{
    position: relative;
    top: 50%;
    left: 50%;

    overflow: hidden;

    min-width: 100%;
    min-height: 100%;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#section03 .content li > div
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    float: left;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;

    opacity: 0;
    background: white;
}

#section03 .content li > div a
{
    position: absolute;
    top: 25px;
    right: 25px;

    overflow: hidden;

    width: 60px;
    height: 30px;
}

#section03 .content li > div a span
{
    position: absolute;

    display: block;

    width: 100%;
    height: 1px;
    margin-top: 15px;

    background: black;
}

#section03 .content li > div a span:nth-child(2)
{
    position: absolute;
    top: -7px;
    right: -3px;

    width: 20px;
    height: 1px;

    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

#section03 .content li > div a span:nth-child(3)
{
    position: absolute;
    right: -3px;
    bottom: 7px;

    width: 20px;
    height: 1px;

    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#section03 .content li > div h3
{
    font: 20px 'Montserrat', sans-serif;
    font-weight: 600;

    display: block;

    margin-top: 70px;
}

#section03 .content li > div h5
{
    font: 13px 'Montserrat', sans-serif;
    font-weight: normal;
}

#section03 .content li > div h5.time
{
    font-size: 14px;
    font-weight: 600;
}

#section03 .content li > div .plus
{
    position: relative;

    overflow: hidden;

    width: 15px;
    height: 15px;
    margin: 10px 0;
}

#section03 .content li > div .plus span
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 100%;
    height: 1px;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    background: black;
}

#section03 .content li > div .plus span:nth-child(2)
{
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
}

#section03 .content li > div p
{
    font-size: 13px;

    margin: 10px 0 20px;
}

#section03 .content li > div p:after
{
    display: block;

    width: 100%;
    height: 1px;
    margin: 50px 0 40px;

    content: '';

    background: #777;
}

#section03 .content li:nth-child(2n) div
{
    color: white;
    background: #777;
}

#section03 .content li:nth-child(2n) div a span
{
    background: white;
}

#section03 .content li:nth-child(2n) div .plus span
{
    background: white;
}

#section03 .content li:nth-child(2n) div p
{
    color: white;
}

#section03 .content li:nth-child(2n) div p:after
{
    background: white;
}

#section03 .content li:nth-child(2n-1) > div
{
    border: 1px solid black;
}

#section03 .content li.on div
{
    opacity: 1;
}

#section04
{
    font: 18px 'Montserrat', sans-serif;
    font-weight: 500;

    -webkit-transition: .6s;
            transition: .6s;
    text-align: center;
    text-transform: uppercase;

    color: white;
    background: url('../img/body-bg.jpg') center center no-repeat;
    background-size: cover;
}

#section04 .content
{
    height: 100%;
    padding: 50px 0;

    background: rgba(167, 167, 167, .66);
}

#section04 strong
{
    margin-top: 40px;
}

#section04 strong span
{
    font-weight: 600;

    -webkit-transition: .6s;
            transition: .6s;
}

#section04 h6
{
    font: 13px 'Noto Sans KR', sans-serif;
    font-weight: normal;

    margin-top: 25px;

    text-align: center;

    color: white;
}

#section04 .button-area
{
    margin-top: 50px;

    text-align: center;
}

#section04 .button-area .btn
{
    font-size: 12px;
    font-weight: 600;
}

#section05 .content
{
    margin: 50px auto;
    padding: 0 25px;
}

#section05 .content h3
{
    margin-bottom: 60px;
}

#section05 .content li
{
    float: left;
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    margin-bottom: 25px;
}

#section05 .content li p
{
    font-size: 14px;

    min-height: 45px;
    margin-top: 15px;

    text-align: center;

    color: #777;
}

#section05 .content li a
{
    display: block;

    width: 70px;
    height: 70px;
    margin: 0 auto;

    -webkit-transition: .4s;
            transition: .4s;

    border-radius: 100px;
    background: #777;
}

#section05 .content li a:focus,
#section05 .content li a:hover
{
    background: #ce995c;
}

#section05 .content li a:focus i,
#section05 .content li a:hover i
{
    font-size: 35px;
}

#section05 .content li a i
{
    font-size: 30px;

    position: relative;
    top: 50%;
    left: 50%;

    -webkit-transition: .1s;
            transition: .1s;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    color: white;
}

#section05 .content li .icon-wrap
{
    overflow: hidden;
}

#section05 .content li .sns-wrap
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
}

#section05 .content li .sns-wrap .s-menu
{
    font-size: 14px;

    display: block;

    margin-top: 20px;

    color: #222;
}

#footer
{
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    border-top: 1px solid #e1e1e1;
    background: #f4f4f4;
}

#footer #foot-menu
{
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    border-bottom: 1px solid #e1e1e1;
}

#footer #foot-menu .content
{
    position: relative;

    overflow: hidden;

    width: 100%;
    margin: 50px auto;
}

#footer #foot-menu .content .site-num
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 40px;

    text-align: center;
}

#footer #foot-menu .content .site-num span
{
    display: block;
}

#footer #foot-menu .content .site-num span.tel
{
    font: 25px 'Montserrat', sans-serif;
    font-weight: 600;

    margin-bottom: 10px;
    padding-top: 30px;
}

#footer #foot-menu .content .site-num span.tel:before
{
    position: absolute;
    top: 0;
    left: 50%;

    display: block;

    width: 30px;
    height: 3px;

    content: '';
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);

    background: black;
}

#footer #foot-menu .content nav
{
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
}

#footer #foot-menu .content nav ul
{
    overflow: hidden;

    text-align: center;
}

#footer #foot-menu .content nav ul h5
{
    font: 14px 'Montserrat', sans-serif;
    font-weight: 600;

    margin-bottom: 10px;

    text-transform: uppercase;
}

#footer #foot-menu .content nav ul li a
{
    font-size: 14px;
}

#footer #foot-menu .content nav ul li a:focus,
#footer #foot-menu .content nav ul li a:hover
{
    text-decoration: underline;
}

#footer #foot-menu .content nav > ul > li
{
    float: left;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 33.333333%;
    height: 60%;
}

#footer #copyright
{
    font-size: 12px;

    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

#footer #copyright ul
{
    margin: 10px;

    text-align: center;
}

#footer #copyright ul li
{
    display: inline-block;
}

#footer #copyright ul li a
{
    font-weight: bold;
}

#footer #copyright ul li:first-child a:after
{
    display: inline-block;

    width: 1px;
    height: 10px;
    margin: 0 10px;

    content: '';

    background: #bbb;
}

#footer #copyright dl
{
    overflow: hidden;

    text-align: center;
}

#footer #copyright dl dt,
#footer #copyright dl dd
{
    display: inline-block;
}

#footer #copyright span
{
    margin-left: 10px;
}

#footer #copyright p
{
    font-weight: bold;

    margin: 20px 0;

    text-align: center;

    color: #444;
}

#footer a:focus,
#footer a:hover
{
    text-decoration: underline;
}

@media screen and (min-width: 851px)
{
    .img-slide .content ul.slide
    {
        position: absolute;
        top: 0;
        left: 0;

        overflow: hidden;

        width: 100%;
        height: 100%;
    }
    .img-slide .content ul.slide li
    {
        position: absolute;
        top: 0;
        left: 0;

        display: none;

        width: 100%;
        height: 100%;
    }
    .img-slide .content ul.slide li:first-child
    {
        display: block;
    }
    .img-slide .content ul.slide li article
    {
        display: block;
    }
    .img-slide ul.indicator
    {
        position: absolute;
        bottom: 15px;
        left: 0;

        width: 100%;

        text-align: center;
    }
    .img-slide ul.indicator li
    {
        display: none;

        margin: 0 2px;
    }
    .img-slide ul.indicator li a
    {
        display: block;
        overflow: hidden;

        width: 10px;
        height: 10px;

        border: 3px solid white;
        border-radius: 50%;
        -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .5);
                box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .5);
    }
    .img-slide ul.indicator li.on a
    {
        border-color: #ce995c;
        background: #4bc1d2;
    }
    .img-slide div.control
    {
        font-size: 11px;

        letter-spacing: -1px;
    }
    .img-slide div.control a.prev,
    .img-slide div.control a.next
    {
        position: absolute;
        bottom: 20px;

        display: block;
        overflow: hidden;

        width: 70px;
        height: 20px;

        -webkit-transition: .4s;
                transition: .4s;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);

        border: 1px solid rgba(0, 0, 0, .5);
        border-radius: 30px;
        background: rgba(255, 255, 255, .3);
    }
    .img-slide div.control a.prev span,
    .img-slide div.control a.next span
    {
        float: left;
        overflow: hidden;

        width: 50%;
    }
    .img-slide div.control a.prev:hover,
    .img-slide div.control a.prev:focus,
    .img-slide div.control a.next:hover,
    .img-slide div.control a.next:focus
    {
        -webkit-transition: .4s;
                transition: .4s;

        border: 1px solid #222;
        background: white;
    }
    .img-slide div.control a.prev
    {
        left: 20px;

        padding: 5px 2px 0 10px;
    }
    .img-slide div.control a.prev span img
    {
        margin-top: -2px;
    }
    .img-slide div.control a.next
    {
        right: 20px;

        padding: 5px 2px 0 10px;
    }
    .img-slide div.control a.next span img
    {
        margin: -2px 0 0 -35px;
    }
    .img-slide div.control a.play
    {
        position: absolute;
        bottom: 33px;
        left: 50%;

        padding: 5px 25px;

        -webkit-transition: .4s;
                transition: .4s;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);

        border: 1px solid rgba(0, 0, 0, .5);
        border-radius: 30px;
        background: rgba(255, 255, 255, .3);
    }
    .img-slide div.control a.play:hover,
    .img-slide div.control a.play:focus
    {
        -webkit-transition: .4s;
                transition: .4s;

        border: 1px solid #222;
        background: white;
    }
}

@media screen and (max-width: 850px)
{
    .img-slide .content ul.slide
    {
        position: absolute;
        top: 0;
        left: 0;

        overflow: hidden;

        width: 100%;
        height: 100%;
    }
    .img-slide .content ul.slide li
    {
        position: absolute;
        top: 0;
        left: 0;

        display: none;

        width: 100%;
        height: 100%;
    }
    .img-slide .content ul.slide li:first-child
    {
        display: block;
    }
    .img-slide .content ul.slide li article
    {
        display: block;
    }
    .img-slide ul.indicator
    {
        position: absolute;
        bottom: 15px;
        left: 0;

        width: 100%;

        text-align: center;
    }
    .img-slide ul.indicator li
    {
        display: none;

        margin: 0 2px;
    }
    .img-slide ul.indicator li a
    {
        display: block;
        overflow: hidden;

        width: 10px;
        height: 10px;

        border: 3px solid white;
        border-radius: 50%;
        -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .5);
                box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .5);
    }
    .img-slide ul.indicator li.on a
    {
        border-color: #ce995c;
        background: #4bc1d2;
    }
    .img-slide div.control
    {
        font-size: 11px;

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 40px;

        letter-spacing: -1px;

        color: white;
        background: rgba(68, 68, 68, .4);
    }
    .img-slide div.control a.prev,
    .img-slide div.control a.next
    {
        position: absolute;
        bottom: 5px;

        display: block;
        overflow: hidden;

        width: 70px;
        height: 20px;

        -webkit-transition: .4s;
                transition: .4s;

        border: 1px solid transparent;
        border-radius: 30px;
    }
    .img-slide div.control a.prev span,
    .img-slide div.control a.next span
    {
        float: left;
        overflow: hidden;

        width: 50%;
    }
    .img-slide div.control a.prev
    {
        left: 20px;

        padding: 5px 2px 0 10px;
    }
    .img-slide div.control a.prev span img
    {
        margin-top: -21px;
    }
    .img-slide div.control a.next
    {
        right: 20px;

        padding: 5px 2px 0 10px;
    }
    .img-slide div.control a.next span img
    {
        margin: -21px 0 0 -35px;
    }
    .img-slide div.control a.play
    {
        position: absolute;
        bottom: 10px;
        left: 50%;

        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
    }
}

@media screen and (max-width: 600px)
{
    #section02 .content ul li
    {
        background-image: url('../img/m-item.jpg');
    }
    #section03 .content ul li
    {
        background-image: url('../img/m-regimen.jpg');
    }
    #section02 .content ul li,
    #section03 .content ul li
    {
        width: 100%;
        height: 300px;
    }
    #section02 .content ul li:nth-of-type(2),
    #section03 .content ul li:nth-of-type(2)
    {
        display: none;
    }
    #section02 .content li.on div:not(.plus),
    #section03 .content li.on div:not(.plus)
    {
        display: none;
    }
}
/*# sourceMappingURL=m_main.css.map */
