@charset "UTF-8";
body {
  font: 15px 'Open Sans', 'Noto Sans KR', '맑은 고딕', sans-serif;
  background: url(../img/body-bg.jpg) no-repeat center bottom fixed;
  background-size: cover;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
}

address, em, i {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

table caption {
  overflow: hidden;
  width: 0;
  height: 0;
}

#wrapper {
  overflow: hidden;
  min-width: 1024px;
}

@media screen and (max-width: 850px) {
  #wrapper {
    overflow: hidden;
    min-width: 320px;
  }
}

#skip-nav {
  font-size: 16px;
  line-height: 40px;
  position: fixed;
  z-index: 100000;
  top: -41px;
  left: 0;
  width: 100%;
  -webkit-transition: .4s;
  transition: .4s;
  text-align: center;
  color: white;
  border-bottom: 1px solid #e0e0e0;
  background: rgba(0, 0, 0, 0.6);
}

#skip-nav:focus {
  top: 0;
}

.section {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
}

.section h1 {
  margin-top: 20px;
}

.section .content {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}

.s-menu {
  font: 16px 'Montserrat', sans-serif;
  font-weight: 600;
  word-spacing: 2px;
  text-transform: uppercase;
  color: #ce995c;
}

.m-menu {
  font: 40px 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: #222;
}

.btn {
  font: 14px 'Montserrat', sans-serif;
  font-weight: 500;
  display: block;
  width: 90px;
  padding: 10px 20px;
  -webkit-transition: .4s;
  transition: .4s;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #ce995c;
  border: 2px solid #ce995c;
  background: white;
}

.btn-item {
  width: 100px;
  margin: 0 auto;
  color: white;
  border-color: white;
  background: rgba(255, 255, 255, 0);
}

.btn-item:focus, .btn-item:hover {
  border-color: #ce995c;
  background: #ce995c;
}

span.text-indent {
  display: inline-block;
  text-indent: -999px;
}

#fix-box {
  display: none;
  overflow: hidden;
}

#fix-box a.fix-scroll-btn {
  position: fixed;
  z-index: 10000;
  right: 15px;
  bottom: 103px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  -webkit-transition: .4s;
  transition: .4s;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  background: #777;
}

#fix-box a.fix-scroll-btn:focus, #fix-box a.fix-scroll-btn:hover {
  background: #ce995c;
}

#fix-box a.fix-scroll-btn.down-btn {
  bottom: 60px;
}

#fix-box a.fix-scroll-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 850px) {
  .section .content {
    width: 100%;
  }
  .s-menu {
    text-align: center;
  }
  .m-menu {
    font-size: 30px;
    text-align: center;
  }
  .more-btn, .mobile-menu {
    display: block;
  }
  div.more-btn {
    margin: 30px auto 0;
  }
  div.more-btn a.more-btn {
    display: block;
    border: 1px solid #444;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #444;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    font-size: 11px;
    text-align: center;
    width: 150px;
    border-radius: 30px;
    letter-spacing: 2px;
    margin: 0 auto;
  }
  .mobile-menu {
    float: left;
    overflow: hidden;
    width: 24px;
    height: 24px;
    margin-top: 5px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .mobile-menu span {
    position: relative;
    display: block;
    width: 50px;
    height: 3px;
    margin: 0 0 0 0;
    background: black;
  }
  .mobile-menu span:nth-child(2) {
    display: block;
    width: 20px;
    height: 3px;
    margin: 6px 0 0 0;
    background: black;
  }
  .mobile-menu span:nth-child(3) {
    display: block;
    width: 50px;
    height: 3px;
    margin: 5px 0 0 0;
    background: black;
  }
  #header.m-open .mobile-menu span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 16px 0 0 -7px;
    background: white;
  }
  #header.m-open .mobile-menu span:nth-child(2) {
    margin: -8px 0 0 0;
    opacity: 0;
  }
  #header.m-open .mobile-menu span:nth-child(3) {
    display: block;
    width: 50px;
    height: 3px;
    margin: -9px 0 0 -7px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: white;
  }
}

#header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 90px;
  -webkit-transition: .4s;
  transition: .4s;
  border-bottom: 1px solid #ebebeb;
  background: white;
}

#header.on {
  height: 65px;
}

#header.open {
  height: 380px;
  padding-bottom: 50px;
  -webkit-transition: height .6s;
  transition: height .6s;
}

#header.on.open {
  height: 360px;
}

#header #header-wrapper {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding-top: 35px;
  -webkit-transition: .4s;
  transition: .4s;
}

#header.on #header-wrapper {
  padding-top: 22px;
}

#header #logo-item {
  font: 28px 'Open Sans', sans-serif;
  font-weight: 700;
  position: absolute;
  top: 26px;
  left: 50%;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  letter-spacing: -1.5px;
  color: #222;
}

#header #logo-item span {
  font-weight: 400;
  -webkit-transition: .4s;
  transition: .4s;
}

#header #logo-item:hover span {
  font-weight: 400;
  letter-spacing: 2px;
}

#header.on #logo-item {
  top: 12px;
  -webkit-transition: .4s;
  transition: .4s;
}

#header nav {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header nav #gnb {
  overflow: hidden;
}

#header nav #gnb > li {
  float: left;
}

#header nav #gnb > li > a {
  font-weight: 600;
  -webkit-transition: .4s;
  transition: .4s;
  color: #444;
}

#header nav #gnb > li > a:focus, #header nav #gnb > li > a:hover {
  letter-spacing: 1px;
  color: #ce995c;
}

#header nav #gnb > li:last-child {
  display: none;
}

#header nav #gnb .sub {
  line-height: 2;
  overflow: hidden;
  margin: 18px 0 24px;
}

#header nav #gnb .sub div {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header nav #gnb .sub div > li {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translate(0, -200px);
          transform: translate(0, -200px);
  opacity: 0;
}

#header nav #gnb .sub div > li > a {
  font-size: 14px;
  margin-right: 30px;
  -webkit-transition: .4s;
  transition: .4s;
  color: #777;
}

#header nav #gnb .sub div > li > a:focus, #header nav #gnb .sub div > li > a:hover {
  color: #ce995c;
}

#header.open nav #gnb .sub div > li {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

#right-util {
  float: right;
  overflow: hidden;
  -webkit-transition: .4s;
  transition: .4s;
}

#right-util li {
  float: left;
}

#right-util li:nth-of-type(2) a:after {
  display: inline-block;
  width: 2px;
  height: 10px;
  margin-left: 35px;
  content: '';
  background: #ddd;
}

#right-util .text {
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

#right-util a {
  margin-left: 35px;
  -webkit-transition: .4s;
  transition: .4s;
}

#right-util a:focus, #right-util a:hover {
  color: #ce995c;
}

#right-util .fa-search,
#right-util .fa-map-marker {
  font-size: 17px;
}

ul {
  overflow: hidden;
}

ul li {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  color: #777;
}

#section01 {
  height: 800px;
  padding-top: 90px;
  border-bottom: 1px solid #ebebeb;
}

#section01 .content {
  position: relative;
  width: 100%;
  height: 100%;
}

#section01 .img-article {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1200px;
  height: 100%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#section01 .img-article p {
  margin-top: 30px;
}

#section01 .img-article img {
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

#section01 .s-menu {
  margin-top: 165px;
}

#section01 .btn-start {
  margin-top: 70px;
}

#section01 .btn-start:focus, #section01 .btn-start:hover {
  color: white;
  background: #ce995c;
}

#section01 .color-black img {
  opacity: 0.9;
}

#section01 .color-black .m-menu {
  color: white;
}

#section01 .color-black p {
  color: #e0e0e0;
}

#section01 .color-black .btn-start {
  color: #ce995c;
  background: white;
}

#section01 .color-black .btn-start:focus, #section01 .color-black .btn-start:hover {
  color: white;
  background: #ce995c;
}

#section02 .content {
  margin-top: 140px;
}

#section02 .content .more-btn {
  display: none;
}

#section02 ul {
  margin-top: 60px;
}

#section02 li {
  position: relative;
  float: left;
  width: 25%;
  height: 450px;
  background: url("../img/best-item01.jpg") center center no-repeat;
  background-size: cover;
}

#section02 li:nth-child(2) {
  background-image: url("../img/best-item02.jpg");
}

#section02 li:nth-child(3) {
  background-image: url("../img/best-item03.jpg");
}

#section02 li:nth-child(4) {
  background-image: url("../img/best-item04.jpg");
}

#section02 li div {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: left;
}

#section02 li.on div {
  opacity: 1;
  background: #ce995c;
}

#section02 li img {
  position: relative;
  top: 50%;
  left: 50%;
  overflow: hidden;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#section02 li strong {
  font: 14px 'Montserrat', sans-serif;
  font-weight: 600;
  display: block;
  width: 80%;
  margin: 130px auto 0;
  color: white;
}

#section02 li p {
  font-size: 13px;
  font-weight: 400;
  width: 80%;
  margin: 50px auto 0;
  color: white;
}

#section02 li .s-menu {
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 0;
  color: #222;
}

#section02 li .btn-item {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

#section02 li .btn-item:focus, #section02 li .btn-item:hover {
  color: white;
  border-color: white;
  background: rgba(255, 255, 255, 0.2);
}

#section03 .content {
  margin: 140px auto;
}

#section03 .content > p {
  margin: 30px auto 50px;
}

#section03 .content .more-btn {
  display: none;
}

#section03 li {
  position: relative;
  float: left;
  width: 25%;
  height: 450px;
  background: url("../img/best-item01.jpg") center center no-repeat;
  background-size: cover;
}

#section03 li img {
  position: relative;
  top: 50%;
  left: 50%;
  overflow: hidden;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#section03 li > div {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
  background: white;
}

#section03 li > div a {
  position: absolute;
  top: 25px;
  right: 25px;
  overflow: hidden;
  width: 60px;
  height: 30px;
}

#section03 li > div a span {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 15px;
  background: black;
}

#section03 li > div a span:nth-child(2) {
  position: absolute;
  top: -7px;
  right: -3px;
  width: 20px;
  height: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#section03 li > div a span:nth-child(3) {
  position: absolute;
  right: -3px;
  bottom: 7px;
  width: 20px;
  height: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#section03 li > div h3 {
  font: 20px 'Montserrat', sans-serif;
  font-weight: 600;
  display: block;
  margin-top: 70px;
}

#section03 li > div h5 {
  font: 13px 'Montserrat', sans-serif;
  font-weight: normal;
}

#section03 li > div h5.time {
  font-size: 14px;
  font-weight: 600;
}

#section03 li > div .plus {
  position: relative;
  overflow: hidden;
  width: 15px;
  height: 15px;
  margin: 10px 0;
}

#section03 li > div .plus span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 1px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: black;
}

#section03 li > div .plus span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

#section03 li > div p {
  font-size: 13px;
  margin: 10px 0 20px;
}

#section03 li > div p:after {
  display: block;
  width: 100%;
  height: 1px;
  margin: 50px 0 40px;
  content: '';
  background: #777;
}

#section03 li:nth-child(2n) div {
  color: white;
  background: #777;
}

#section03 li:nth-child(2n) div a span {
  background: white;
}

#section03 li:nth-child(2n) div .plus span {
  background: white;
}

#section03 li:nth-child(2n) div p {
  color: white;
}

#section03 li:nth-child(2n) div p:after {
  background: white;
}

#section03 li:nth-child(2n-1) > div {
  border: 1px solid black;
}

#section03 li.on div {
  opacity: 1;
}

#section04 {
  padding: 120px 0;
  background: rgba(167, 167, 167, 0.66);
  font: 20px 'Montserrat', sans-serif;
  font-weight: 500;
  -webkit-transition: .6s;
  transition: .6s;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

#section04:hover {
  background: rgba(95, 95, 95, 0.65);
}

#section04 strong {
  margin-top: 40px;
}

#section04 strong span {
  font-weight: 600;
  -webkit-transition: .6s;
  transition: .6s;
}

#section04:hover strong span {
  -webkit-transition: .6s;
  transition: .6s;
  letter-spacing: 8px;
}

#section04:hover strong span:after {
  content: '.';
  -webkit-transition: content .6s;
  transition: content .6s;
}

#section04 h6 {
  font: 14px 'Noto Sans KR', sans-serif;
  font-weight: normal;
  margin-top: 25px;
  text-align: center;
  color: white;
}

#section04 .button-area {
  margin-top: 50px;
  text-align: center;
}

#section05 .content {
  margin: 140px auto;
}

#section05 h3 {
  margin-bottom: 50px;
}

#section05 li {
  float: left;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
}

#section05 li p {
  font-size: 14px;
  margin-top: 15px;
  color: #777;
}

#section05 li a {
  display: block;
  width: 70px;
  height: 70px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 100px;
  background: #777;
}

#section05 li a:focus, #section05 li a:hover {
  background: #ce995c;
}

#section05 li a:focus i,
#section05 li a:hover i {
  font-size: 35px;
}

#section05 li a i {
  font-size: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

#section05 li .icon-wrap {
  overflow: hidden;
  float: left;
}

#section05 li .sns-wrap {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 230px;
  padding: 0 15px;
}

#section05 li .sns-wrap .s-menu {
  font-size: 14px;
  color: #222;
}

.section .content.scroll {
  -webkit-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  opacity: .3;
}

.section .content.scroll.on {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: 1.8s;
  transition: 1.8s;
}

.section02 .content.scroll {
  -webkit-transform: translate(100px, 0);
          transform: translate(100px, 0);
}

#footer {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #e1e1e1;
  background: #f4f4f4;
}

#footer #foot-menu {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
}

#footer #foot-menu .content {
  overflow: hidden;
  width: 1200px;
  margin: 50px auto;
}

#footer #foot-menu .content .site-num {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#footer #foot-menu .content .site-num span {
  display: block;
}

#footer #foot-menu .content .site-num span.tel {
  font: 25px 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

#footer #foot-menu .content .site-num span.tel:before {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 10px;
  content: '';
  background: black;
}

#footer #foot-menu .content nav {
  float: right;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 600px;
}

#footer #foot-menu .content nav ul {
  float: right;
  overflow: hidden;
  text-align: right;
}

#footer #foot-menu .content nav ul li {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 60%;
}

#footer #foot-menu .content nav ul li h5 {
  font: 14px 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#footer #foot-menu .content nav ul li li a {
  font-size: 14px;
}

#footer #foot-menu .content nav ul li li a:focus, #footer #foot-menu .content nav ul li li a:hover {
  text-decoration: underline;
}

#footer #copyright {
  font-size: 12px;
  overflow: hidden;
  width: 1200px;
  margin: 20px auto;
}

#footer #copyright ul {
  margin-bottom: 10px;
}

#footer #copyright ul li {
  display: inline-block;
}

#footer #copyright ul li a {
  font-weight: bold;
}

#footer #copyright ul li:first-child a:after {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 10px;
  content: '';
  background: #bbb;
}

#footer #copyright dl {
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
}

#footer #copyright dl dt,
#footer #copyright dl dd {
  display: inline-block;
}

#footer #copyright span {
  margin-left: 10px;
}

#footer #copyright p {
  font-weight: bold;
  color: #444;
}

#footer a:focus,
#footer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 851px) {
  .img-slide .content ul.slide {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .img-slide .content ul.slide li {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
  }
  .img-slide .content ul.slide li:first-child {
    display: block;
  }
  .img-slide .content ul.slide li article {
    display: block;
  }
  .img-slide ul.indicator {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .img-slide ul.indicator li {
    display: none;
    margin: 0 2px;
  }
  .img-slide ul.indicator li a {
    display: block;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 3px solid white;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  }
  .img-slide ul.indicator li.on a {
    border-color: #ce995c;
    background: #4bc1d2;
  }
  .img-slide div.control {
    font-size: 11px;
    letter-spacing: -1px;
  }
  .img-slide div.control a.prev,
  .img-slide div.control a.next {
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 70px;
    height: 20px;
    overflow: hidden;
    display: block;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.3);
  }
  .img-slide div.control a.prev span,
  .img-slide div.control a.next span {
    width: 50%;
    float: left;
    overflow: hidden;
  }
  .img-slide div.control a.prev:hover, .img-slide div.control a.prev:focus,
  .img-slide div.control a.next:hover,
  .img-slide div.control a.next:focus {
    background: white;
    border: 1px solid #222;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .img-slide div.control a.prev {
    left: 20px;
    padding: 5px 2px 0 10px;
  }
  .img-slide div.control a.prev span img {
    margin-top: -2px;
  }
  .img-slide div.control a.next {
    right: 20px;
    padding: 5px 2px 0 10px;
  }
  .img-slide div.control a.next span img {
    margin: -2px 0 0 -35px;
  }
  .img-slide div.control a.play {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: 33px;
    padding: 5px 25px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .img-slide div.control a.play:hover, .img-slide div.control a.play:focus {
    background: white;
    border: 1px solid #222;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

@media screen and (max-width: 850px) {
  .img-slide .content ul.slide {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .img-slide .content ul.slide li {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
  }
  .img-slide .content ul.slide li:first-child {
    display: block;
  }
  .img-slide .content ul.slide li article {
    display: block;
  }
  .img-slide ul.indicator {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .img-slide ul.indicator li {
    display: none;
    margin: 0 2px;
  }
  .img-slide ul.indicator li a {
    display: block;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 3px solid white;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  }
  .img-slide ul.indicator li.on a {
    border-color: #ce995c;
    background: #4bc1d2;
  }
  .img-slide div.control {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(68, 68, 68, 0.4);
    color: white;
    left: 0;
    font-size: 11px;
    letter-spacing: -1px;
  }
  .img-slide div.control a.prev,
  .img-slide div.control a.next {
    border-radius: 30px;
    position: absolute;
    bottom: 5px;
    width: 70px;
    height: 20px;
    overflow: hidden;
    display: block;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid transparent;
  }
  .img-slide div.control a.prev span,
  .img-slide div.control a.next span {
    width: 50%;
    float: left;
    overflow: hidden;
  }
  .img-slide div.control a.prev {
    left: 20px;
    padding: 5px 2px 0 10px;
  }
  .img-slide div.control a.prev span img {
    margin-top: -21px;
  }
  .img-slide div.control a.next {
    right: 20px;
    padding: 5px 2px 0 10px;
  }
  .img-slide div.control a.next span img {
    margin: -21px 0 0 -35px;
  }
  .img-slide div.control a.play {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: 10px;
  }
}

@media screen and (max-width: 1220px) {
  #header #header-wrapper {
    min-width: 1024px;
    max-width: 100%;
    padding: 35px 20px 0 20px;
  }
  #header #header-wrapper nav #gnb .sub div > li > a {
    margin-right: 20px;
  }
  #section01 .content article {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
  }
  #section01 .content article img {
    min-width: 100%;
    height: 100%;
  }
  .section .content {
    width: 100%;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .section .content > h6,
  .section .content > h3 {
    padding: 0 30px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  #section03 .content > p {
    margin: 0;
    padding: 30px 30px 50px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  #section05 .content li {
    width: 25%;
  }
  #section05 .content li .sns-wrap {
    width: calc(100% - 70px);
  }
  #footer #foot-menu .content,
  #footer #copyright {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
  }
}
/*# sourceMappingURL=main.css.map */