@charset "UTF-8";
body {
  font: 15px 'Open Sans', 'Noto Sans KR', '맑은 고딕', sans-serif;
  background: url(../img/body-bg01.jpg) no-repeat center bottom fixed;
  background-size: cover;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
}

address, em, i {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

table caption {
  overflow: hidden;
  width: 0;
  height: 0;
}

#wrapper {
  overflow: hidden;
  min-width: 1024px;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
}

address, em, i {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

table caption {
  overflow: hidden;
  width: 0;
  height: 0;
}

#wrapper {
  overflow: hidden;
  min-width: 1024px;
}

#skip-nav {
  font-size: 16px;
  line-height: 40px;
  position: fixed;
  z-index: 100000;
  top: -41px;
  left: 0;
  width: 100%;
  -webkit-transition: .4s;
  transition: .4s;
  text-align: center;
  color: white;
  border-bottom: 1px solid #e0e0e0;
  background: rgba(0, 0, 0, 0.6);
}

#skip-nav:focus {
  top: 0;
}

.section h1 {
  margin-top: 20px;
}

.section .content {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}

.section-banner {
  font: 20px 'Montserrat', sans-serif;
  font-weight: 500;
  overflow: hidden;
  -webkit-transition: .6s;
  transition: .6s;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: rgba(167, 167, 167, 0.66);
}

.section-banner:hover {
  background: rgba(95, 95, 95, 0.65);
}

.section-banner .button-area {
  margin-top: 50px;
  text-align: center;
}

.s-menu {
  font: 16px 'Montserrat', sans-serif;
  font-weight: 600;
  word-spacing: 2px;
  text-transform: uppercase;
  color: #ce995c;
}

.m-menu {
  font: 40px 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: #222;
}

.btn {
  font: 14px 'Montserrat', sans-serif;
  font-weight: 500;
  display: block;
  width: 90px;
  padding: 10px 20px;
  -webkit-transition: .4s;
  transition: .4s;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #ce995c;
  border: 2px solid #ce995c;
  background: rgba(255, 255, 255, 0.8);
}

.btn-item {
  width: 100px;
  margin: 0 auto;
  color: white;
  border-color: white;
  background: rgba(255, 255, 255, 0);
}

.btn-item:focus, .btn-item:hover {
  border-color: #ce995c;
  background: #ce995c;
}

.top-banner-close {
  position: absolute;
  top: 120px;
  right: 30px;
  display: block;
  overflow: hidden;
  width: 70px;
  height: 70px;
}

.css-cancel {
  position: relative;
  display: block;
  width: 2px;
  height: 50px;
  margin: 10px 0 0 33px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: white;
}

.css-cancel :before {
  position: absolute;
  top: 50%;
  left: -23px;
  display: block;
  width: 50px;
  height: 2px;
  margin-top: -2px;
  content: '';
  background: white;
}

span.text-indent {
  display: inline-block;
  text-indent: -999px;
}

#fix-box {
  display: none;
  overflow: hidden;
}

#fix-box a.fix-scroll-btn {
  position: fixed;
  z-index: 10000;
  right: 15px;
  bottom: 103px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  -webkit-transition: .4s;
  transition: .4s;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  background: #777;
}

#fix-box a.fix-scroll-btn:focus, #fix-box a.fix-scroll-btn:hover {
  background: #ce995c;
}

#fix-box a.fix-scroll-btn.down-btn {
  bottom: 60px;
}

#fix-box a.fix-scroll-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 90px;
  -webkit-transition: .4s;
  transition: .4s;
  border-bottom: 1px solid #ebebeb;
  background: white;
}

#header.on {
  height: 65px;
}

#header.open {
  height: 380px;
  padding-bottom: 50px;
  -webkit-transition: height .6s;
  transition: height .6s;
}

#header.on.open {
  height: 360px;
}

#header #header-wrapper {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding-top: 35px;
  -webkit-transition: .4s;
  transition: .4s;
}

#header #header-wrapper .mobile-menu {
  display: none;
}

#header.on #header-wrapper {
  padding-top: 22px;
}

#header #logo-item {
  font: 32px 'Open Sans', sans-serif;
  font-weight: 700;
  position: absolute;
  top: 22px;
  left: 50%;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  letter-spacing: -1.5px;
  color: #222;
}

#header #logo-item span {
  font-weight: 400;
  -webkit-transition: .4s;
  transition: .4s;
}

#header #logo-item:hover span {
  font-weight: 400;
  letter-spacing: 2px;
}

#header.on #logo-item {
  top: 12px;
  -webkit-transition: .4s;
  transition: .4s;
}

#header nav {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header nav #gnb {
  overflow: hidden;
}

#header nav #gnb > li {
  float: left;
}

#header nav #gnb > li > a {
  font-weight: 600;
  -webkit-transition: .4s;
  transition: .4s;
  color: #444;
}

#header nav #gnb > li > a:focus, #header nav #gnb > li > a:hover {
  letter-spacing: 1px;
  color: #ce995c;
}

#header nav #gnb .sub {
  line-height: 2;
  overflow: hidden;
  margin: 18px 0 24px;
}

#header nav #gnb .sub div {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header nav #gnb .sub div > li {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translate(0, -200px);
          transform: translate(0, -200px);
  opacity: 0;
}

#header nav #gnb .sub div > li > a {
  font-size: 14px;
  margin-right: 30px;
  -webkit-transition: .4s;
  transition: .4s;
  color: #777;
}

#header nav #gnb .sub div > li > a:focus, #header nav #gnb .sub div > li > a:hover {
  color: #ce995c;
}

#header.open nav #gnb .sub div > li {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

#right-util {
  float: right;
  overflow: hidden;
  -webkit-transition: .4s;
  transition: .4s;
}

#right-util li {
  float: left;
}

#right-util li:nth-of-type(2) a:after {
  display: inline-block;
  width: 2px;
  height: 10px;
  margin-left: 35px;
  content: '';
  background: #ddd;
}

#right-util .text {
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

#right-util a {
  margin-left: 35px;
  -webkit-transition: .4s;
  transition: .4s;
}

#right-util a:focus, #right-util a:hover {
  color: #ce995c;
}

#right-util .fa-search,
#right-util .fa-map-marker {
  font-size: 17px;
}

#section01 {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 335px;
  padding-top: 90px;
}

#section01 .content {
  margin: 80px auto;
}

#section01 .content h2 {
  margin-top: 15px;
}

#section01 .content ul li {
  display: inline-block;
}

#section02 {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  border-bottom: 1px solid #ebebeb;
  background: white;
}

#section02 .content {
  position: relative;
  max-width: 1200px;
}

#section02 .content #sub-info {
  overflow: hidden;
}

#section02 .content #sub-info ul {
  overflow: hidden;
}

#section02 .content #sub-info ul li {
  display: inline-block;
  overflow: hidden;
}

#section02 .content #sub-info ul li a {
  padding: 5px;
  font-size: 14px;
  line-height: 60px;
}

#section02 .content #sub-info ul li a.hover {
  text-decoration: underline;
  color: #777;
}

#section02 .content #sub-info li + li:before {
  font-family: FontAwesome;
  font-size: 13px;
  display: inline-block;
  padding: 0 5px;
  content: '\f105';
}

#section03.section {
  background: white;
  overflow: hidden;
}

#section03 .content {
  margin: 50px auto 100px;
}

#section03.company .founder-box {
  height: 500px;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#section03.company .founder-box img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#section03.company .founder-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  padding: 70px 50px;
  text-align: center;
}

#section03.company article:not(.founder-box) {
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin-top: 50px;
}

#section03.company article:not(.founder-box) div {
  width: 50%;
  height: 100%;
  overflow: hidden;
  float: left;
}

#section03.company article:not(.founder-box) div img {
  max-width: 100%;
  min-height: 100%;
}

#section03.company article:not(.founder-box) p {
  width: 50%;
  height: 350px;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  text-align: justify;
  float: left;
  font-size: 16px;
  vertical-align: bottom;
  overflow: hidden;
}

#section03.company article:not(.founder-box) p:before {
  content: '';
  display: inline-block;
  padding-right: 10px;
  margin-right: 5px;
}

#section03.company article:not(.founder-box) p span {
  font-size: 25px;
  color: black;
  font-family: serif;
  text-decoration: underline;
  margin: 5px;
}

#section03.company article:not(.founder-box) p strong {
  text-decoration: underline;
}

#section03.login .content,
#section03.join .content {
  text-align: center;
}

#section03.login .content h3,
#section03.join .content h3 {
  margin: 25px auto;
}

#section03.login .content h6,
#section03.join .content h6 {
  font-size: 14px;
  font-weight: normal;
}

#section03.login .content .align-box,
#section03.join .content .align-box {
  overflow: hidden;
  width: 720px;
  margin: 55px auto 20px;
}

#section03.login .content .align-box .login-wrap,
#section03.join .content .align-box .login-wrap {
  overflow: hidden;
  width: 350px;
  float: left;
}

#section03.login .content .align-box .login-wrap .tab-box,
#section03.join .content .align-box .login-wrap .tab-box {
  overflow: hidden;
}

#section03.login .content .align-box .login-wrap .tab-box li,
#section03.join .content .align-box .login-wrap .tab-box li {
  width: 50%;
  float: left;
  line-height: 45px;
  margin-bottom: 20px;
  border-bottom: 3px solid #bbb;
  color: #bbb;
}

#section03.login .content .align-box .login-wrap .tab-box li.block,
#section03.join .content .align-box .login-wrap .tab-box li.block {
  border-bottom-color: #444;
  color: #444;
}

#section03.login .content .align-box .login-wrap .form-tab,
#section03.join .content .align-box .login-wrap .form-tab {
  width: 350px;
  float: left;
  overflow: hidden;
  display: none;
}

#section03.login .content .align-box .login-wrap .form-tab.on,
#section03.join .content .align-box .login-wrap .form-tab.on {
  display: block;
}

#section03.login .content .align-box .login-wrap .form-tab .login-box,
#section03.join .content .align-box .login-wrap .form-tab .login-box {
  position: relative;
  overflow: hidden;
}

#section03.login .content .align-box .login-wrap .form-tab .login-box label.login-label,
#section03.join .content .align-box .login-wrap .form-tab .login-box label.login-label {
  position: absolute;
  top: 0;
  left: 10px;
  line-height: 55px;
}

#section03.login .content .align-box .login-wrap .form-tab .login-box label.login-label.on,
#section03.join .content .align-box .login-wrap .form-tab .login-box label.login-label.on {
  display: none;
}

#section03.login .content .align-box .login-wrap .form-tab .login-box input.login-form,
#section03.join .content .align-box .login-wrap .form-tab .login-box input.login-form {
  display: inline-block;
  width: 100%;
  height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  font-family: inherit;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#section03.login .content .align-box .login-wrap .form-tab .login-box input.login-form.pw,
#section03.join .content .align-box .login-wrap .form-tab .login-box input.login-form.pw {
  border-top: none;
}

#section03.login .content .align-box .login-wrap .form-tab .id-save,
#section03.join .content .align-box .login-wrap .form-tab .id-save {
  text-align: right;
  font-size: 14px;
  margin: 14px auto;
}

#section03.login .content .align-box .login-wrap .form-tab .id-save label:first-of-type,
#section03.join .content .align-box .login-wrap .form-tab .id-save label:first-of-type {
  margin-right: 20px;
}

#section03.login .content .align-box .login-wrap .form-tab .btn-box .login-btn,
#section03.join .content .align-box .login-wrap .form-tab .btn-box .login-btn {
  width: 100%;
  height: 55px;
  border: none;
  background: #444;
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
  font-weight: bold;
}

#section03.login .content .align-box .login-wrap .form-tab .btn-box .login-btn:focus, #section03.login .content .align-box .login-wrap .form-tab .btn-box .login-btn:hover,
#section03.join .content .align-box .login-wrap .form-tab .btn-box .login-btn:focus,
#section03.join .content .align-box .login-wrap .form-tab .btn-box .login-btn:hover {
  background: #ce995c;
}

#section03.login .content .align-box .login-wrap .form-tab .login-link,
#section03.join .content .align-box .login-wrap .form-tab .login-link {
  overflow: hidden;
  font-size: 13px;
  margin-top: 25px;
}

#section03.login .content .align-box .login-wrap .form-tab .login-link li,
#section03.join .content .align-box .login-wrap .form-tab .login-link li {
  display: inline-block;
  padding: 2px 3px;
}

#section03.login .content .align-box .login-wrap .form-tab .login-link li a:focus, #section03.login .content .align-box .login-wrap .form-tab .login-link li a:hover,
#section03.join .content .align-box .login-wrap .form-tab .login-link li a:focus,
#section03.join .content .align-box .login-wrap .form-tab .login-link li a:hover {
  text-decoration: underline;
}

#section03.login .content .align-box .login-wrap .form-tab .login-link li + li:before,
#section03.join .content .align-box .login-wrap .form-tab .login-link li + li:before {
  content: '';
  width: 2px;
  height: 10px;
  margin: 0 20px;
  background: #ddd;
  display: inline-block;
}

#section03.login .content .align-box .sns-login-wrap,
#section03.join .content .align-box .sns-login-wrap {
  width: 330px;
  margin: 35px 0 0 40px;
  float: left;
  text-transform: uppercase;
}

#section03.login .content .align-box .sns-login-wrap li,
#section03.join .content .align-box .sns-login-wrap li {
  position: relative;
  padding: 17px 30px 17px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: right;
}

#section03.login .content .align-box .sns-login-wrap li a,
#section03.join .content .align-box .sns-login-wrap li a {
  -webkit-transition: .4s;
  transition: .4s;
}

#section03.login .content .align-box .sns-login-wrap li a:focus, #section03.login .content .align-box .sns-login-wrap li a:hover,
#section03.join .content .align-box .sns-login-wrap li a:focus,
#section03.join .content .align-box .sns-login-wrap li a:hover {
  letter-spacing: 1px;
  text-decoration: underline;
}

#section03.login .content .align-box .sns-login-wrap li span,
#section03.join .content .align-box .sns-login-wrap li span {
  position: absolute;
  top: 2px;
  left: 0;
  width: 55px;
  height: 50px;
  margin-left: 25px;
  color: white;
  overflow: hidden;
}

#section03.login .content .align-box .sns-login-wrap li span img,
#section03.join .content .align-box .sns-login-wrap li span img {
  margin: 5px 5px 5px 8px;
  height: 100%;
}

#section03.login .content .align-box .sns-login-wrap li:nth-of-type(2) img,
#section03.join .content .align-box .sns-login-wrap li:nth-of-type(2) img {
  margin-left: -56px;
}

#section03.login .content .align-box .sns-login-wrap li:nth-of-type(3) img,
#section03.join .content .align-box .sns-login-wrap li:nth-of-type(3) img {
  margin-left: -119px;
}

#section03.login .content .align-box .sns-login-wrap li:nth-of-type(4) img,
#section03.join .content .align-box .sns-login-wrap li:nth-of-type(4) img {
  margin-left: -185px;
}

#section03.login .content .join-guide,
#section03.join .content .join-guide {
  width: 550px;
  margin: 60px auto 0;
  overflow: hidden;
}

#section03.login .content .join-guide li,
#section03.join .content .join-guide li {
  float: left;
  width: 33.333333%;
  overflow: hidden;
}

#section03.login .content .join-guide li .guide-box,
#section03.join .content .join-guide li .guide-box {
  position: relative;
  width: 100px;
  height: 130px;
  overflow: hidden;
  margin: 0 auto;
}

#section03.login .content .join-guide li .guide-box span:first-child,
#section03.join .content .join-guide li .guide-box span:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

#section03.login .content .join-guide li .guide-box span:nth-child(2),
#section03.join .content .join-guide li .guide-box span:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 20px;
}

#section03.login .content .join-guide li .guide-box img,
#section03.join .content .join-guide li .guide-box img {
  width: 330px;
  margin: -15px 0 0 -14px;
}

#section03.login .content .join-guide li:nth-child(2) span:nth-child(2),
#section03.join .content .join-guide li:nth-child(2) span:nth-child(2) {
  color: #777;
}

#section03.login .content .join-guide li:nth-child(2) img,
#section03.join .content .join-guide li:nth-child(2) img {
  margin: -121px 0 0 -117px;
}

#section03.login .content .join-guide li:nth-child(3) span:nth-child(2),
#section03.join .content .join-guide li:nth-child(3) span:nth-child(2) {
  color: #777;
}

#section03.login .content .join-guide li:nth-child(3) img,
#section03.join .content .join-guide li:nth-child(3) img {
  margin: -121px 0 0 -220px;
}

#section03.login .content table,
#section03.join .content table {
  width: 95%;
  margin: 70px auto 30px;
  border-top: 3px solid black;
  text-align: left;
}

#section03.login .content table tr,
#section03.join .content table tr {
  height: 65px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

#section03.login .content table th,
#section03.join .content table th {
  padding-left: 20px;
  font-weight: normal;
  width: 30%;
  text-align: left;
}

#section03.login .content table th label.essential:after,
#section03.join .content table th label.essential:after {
  content: '*';
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  color: red;
}

#section03.login .content table input:not([type="checkbox"]),
#section03.login .content table select,
#section03.join .content table input:not([type="checkbox"]),
#section03.join .content table select {
  display: inline-block;
  width: 230px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  font-family: inherit;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 25px;
}

#section03.login .content table .phone-num,
#section03.login .content table input.phone-num,
#section03.join .content table .phone-num,
#section03.join .content table input.phone-num {
  width: 100px;
  margin-right: 20px;
}

#section03.login .content table label,
#section03.join .content table label {
  margin-right: 50px;
}

#section03.login .content input[type="checkbox"],
#section03.join .content input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

#section03.login .content .confirm-box,
#section03.join .content .confirm-box {
  margin-top: 50px;
}

#section03.login .content .confirm-box li,
#section03.join .content .confirm-box li {
  display: inline-block;
  margin: 0 5px;
}

#section03.login .content .confirm-box input,
#section03.join .content .confirm-box input {
  width: 170px;
  height: 50px;
}

#section03.login .content .confirm-box input[type="reset"],
#section03.join .content .confirm-box input[type="reset"] {
  background: white;
  color: #444;
  border: 1px solid #444;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#section03.login .content .terms-box,
#section03.join .content .terms-box {
  text-align: left;
  width: 95%;
  margin: 0 auto;
}

#section03.login .content .terms-box li,
#section03.join .content .terms-box li {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#section03.login .content .terms-box li a,
#section03.join .content .terms-box li a {
  float: right;
  font-size: 14px;
  text-decoration: underline;
}

#section03.login .content .terms-box li a:focus, #section03.login .content .terms-box li a:hover,
#section03.join .content .terms-box li a:focus,
#section03.join .content .terms-box li a:hover {
  color: #777;
}

#section03.login .content .terms-box li:last-child,
#section03.join .content .terms-box li:last-child {
  background: #f1f1f1;
}

#section03.login .content .btn,
#section03.join .content .btn {
  display: inline-block;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 140px;
  vertical-align: middle;
  font-size: 13px;
  border: none;
  background: #444;
  color: white;
  font-weight: bold;
  -webkit-transition: .4s;
  transition: .4s;
}

#section03.login .content .btn:focus, #section03.login .content .btn:hover,
#section03.join .content .btn:focus,
#section03.join .content .btn:hover {
  background: #ce995c;
}

#section03.search .search-box {
  margin: 0 auto;
  text-align: center;
}

#section03.search .search-box input {
  border: none;
  width: 500px;
  height: 55px;
  border-bottom: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
  font-size: 23px;
}

#section03.search .search-box .fa-search {
  font-size: 35px;
  margin: 0 10px;
  vertical-align: middle;
}

#section03.search p {
  font-size: 30px;
  margin: 100px 0 0;
  text-align: center;
}

#section03.search .search-no-box {
  background: #f1f1f1;
  padding: 40px 70px;
  margin: 50px 0 30px;
}

#section03.search .search-no-box li {
  line-height: 1.8;
  list-style: disc;
  color: #444;
}

#section03.store h3 {
  margin: 25px auto;
  text-align: center;
}

#section03.store .content > h6 {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

#section03.store .select-box {
  margin: 60px 0 30px;
  overflow: hidden;
}

#section03.store .select-box h5 {
  display: inline-block;
  font-size: 25px;
  position: relative;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-weight: normal;
  letter-spacing: 1px;
}

#section03.store .select-box .nation-box {
  width: 140px;
  height: 35px;
  float: right;
  padding: 0 10px;
}

#section03.store li {
  border-top: 1px solid #e0e0e0;
  padding: 30px 20px;
  overflow: hidden;
}

#section03.store li .store-img {
  position: relative;
  width: 30%;
  height: 200px;
  float: left;
  overflow: hidden;
  -webkit-transition: .6s;
  transition: .6s;
}

#section03.store li .store-img:focus img, #section03.store li .store-img:hover img {
  -webkit-transition: .4s;
  transition: .4s;
}

#section03.store li .store-img:focus a, #section03.store li .store-img:hover a {
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

#section03.store li .store-img a {
  z-index: 1;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #e0e0e0;
  text-align: center;
  font-size: 13px;
  line-height: 200px;
  font-weight: bold;
}

#section03.store li .store-img a span {
  margin-right: 5px;
}

#section03.store li .store-img img {
  min-width: 100%;
  height: 100%;
  -webkit-transition: .4s;
  transition: .4s;
}

#section03.store li .store-img:focus, #section03.store li .store-img:hover {
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.8);
  -webkit-transition: .6s;
  transition: .6s;
}

#section03.store li article {
  width: 70%;
  float: left;
  overflow: hidden;
  padding: 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#section03.store li article h5 {
  display: inline-block;
  font-size: 23px;
  margin: 0 15px 15px 0;
  letter-spacing: -1px;
}

#section03.store li article p {
  color: #444;
  font-size: 13px;
}

#section03.store li article h6 {
  color: #222;
  font-size: 12px;
  margin-top: 5px;
}

#section03.store li article .fa-map-marker {
  cursor: pointer;
  font-size: 23px;
  color: #444;
}

#section03.store li article .fa-map-marker:focus, #section03.store li article .fa-map-marker:hover {
  color: #ce995c;
}

#section03.faq .search-box {
  margin: 0 auto;
  text-align: center;
}

#section03.faq .search-box input {
  border: none;
  width: 500px;
  height: 55px;
  border-bottom: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
  font-size: 23px;
}

#section03.faq .search-box .fa-search {
  font-size: 35px;
  margin: 0 10px;
  vertical-align: middle;
}

#section03.faq .faq-menu {
  height: 62px;
  margin: 70px 0 30px;
  border-bottom: 2px solid #222;
}

#section03.faq .faq-menu li {
  background: white;
  cursor: pointer;
  float: left;
  width: 200px;
  text-align: center;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #ddd;
  border-bottom: none;
  border-left-width: 0;
}

#section03.faq .faq-menu li:first-child {
  border-left-width: 1px;
}

#section03.faq .faq-menu li.on {
  border: 2px solid #222;
  border-bottom: none;
  height: 62px;
}

#section03.faq .faq-article {
  display: none;
}

#section03.faq .faq-article.block {
  display: block;
}

#section03.faq .faq-article label {
  display: block;
  position: relative;
  padding: 20px 30px;
  line-height: 20px;
  border-bottom: 1px solid #ddd;
}

#section03.faq .faq-article label.shopping:before, #section03.faq .faq-article label.order:before, #section03.faq .faq-article label.delivery:before {
  content: '[주문]';
  padding-right: 10px;
}

#section03.faq .faq-article label.order:before {
  content: '[결제]';
}

#section03.faq .faq-article label.delivery:before {
  content: '[배송]';
}

#section03.faq .faq-article label:after {
  content: '';
  position: absolute;
  top: 22px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: transparent url(../img/arrow_down.png) no-repeat center;
}

#section03.faq .faq-article article {
  height: 0;
  overflow: hidden;
  background: #f5f5f5;
}

#section03.faq .faq-article input {
  display: none;
}

#section03.faq .faq-article input:checked ~ article {
  height: 100%;
  padding: 30px 50px;
  color: #444;
  font-size: 14px;
  line-height: 1.5;
}

#section03.faq .faq-article input:checked + label:hover:after {
  background: transparent url(../img/arrow_up.png) no-repeat center;
}

#section03.vitamin {
  text-align: center;
}

#section03.vitamin .product-select {
  display: inline-block;
  position: relative;
  text-align: left;
}

#section03.vitamin .product-select .btn-select {
  position: relative;
  text-align: left;
  width: 120px;
  overflow: hidden;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  padding: 10px 15px;
  background: white;
}

#section03.vitamin .product-select .btn-select:after {
  content: '▼';
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 9px;
  color: #444;
}

#section03.vitamin .product-select ul {
  width: 120px;
  overflow: hidden;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: none;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  display: none;
}

#section03.vitamin .product-select ul li {
  background: white;
  font-size: 13px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#section03.vitamin .product-select ul li:focus, #section03.vitamin .product-select ul li:hover {
  background: #f5f5f5;
}

#section03.vitamin .product-item {
  overflow: hidden;
}

#section03.vitamin .product-item li {
  float: left;
  width: 33.333333%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

#section03.vitamin .product-item li article {
  position: relative;
  overflow: hidden;
}

#section03.vitamin .product-item li article:focus, #section03.vitamin .product-item li article:hover {
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.2);
}

#section03.vitamin .product-item li article img {
  display: block;
  width: 100%;
}

#section03.vitamin .product-item li article a {
  position: absolute;
  left: 50%;
  bottom: 155px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  background: #777;
  color: white;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  font-size: 11px;
  text-align: center;
  -webkit-transition: .4s;
  transition: .4s;
  width: 200px;
  border-radius: 30px;
  z-index: 1;
}

#section03.vitamin .product-item li article a .fa-shopping-bag {
  margin-right: 5px;
}

#section03.vitamin .product-item li article a:focus, #section03.vitamin .product-item li article a:hover {
  background: #ce995c;
  -webkit-transition: .4s;
  transition: .4s;
}

#section03.vitamin .product-item li article .product-article {
  height: 180px;
  overflow: hidden;
  position: relative;
}

#section03.vitamin .product-item li article .product-article h5 {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px auto 0;
  overflow: hidden;
  width: 65%;
  height: 50px;
}

#section03.vitamin .product-item li article .product-article p {
  width: 65%;
  height: 45px;
  margin: 15px auto 0;
  font-size: 12px;
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101000;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: 50px;
  color: white;
}

.overlay img {
  display: block;
  margin: 0 auto;
}

.overlay h5 {
  display: inline-block;
  font-size: 23px;
  margin: 15px;
  margin-left: 0;
  letter-spacing: -1px;
}

.overlay p {
  font-size: 13px;
}

.overlay h6 {
  font-size: 12px;
  margin-top: 5px;
}

.overlay .fa-map-marker {
  cursor: pointer;
  font-size: 23px;
}

.overlay .fa-map-marker:focus, .overlay .fa-map-marker:hover {
  color: #ce995c;
}

.overlay a {
  display: inline-block;
  background: #777;
  padding: 10px 80px;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: 20px;
  font-size: 13px;
}

.overlay a:focus, .overlay a:hover {
  background: #ce995c;
  -webkit-transition: .4s;
  transition: .4s;
}

#footer {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #e1e1e1;
  background: #f8f8f8;
}

#footer #foot-menu {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
}

#footer #foot-menu .content {
  overflow: hidden;
  width: 1200px;
  margin: 50px auto;
}

#footer #foot-menu .content .site-num {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#footer #foot-menu .content .site-num span {
  display: block;
}

#footer #foot-menu .content .site-num span.tel {
  font: 25px 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

#footer #foot-menu .content .site-num span.tel:before {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 10px;
  content: '';
  background: black;
}

#footer #foot-menu .content nav {
  float: right;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 600px;
}

#footer #foot-menu .content nav ul {
  float: right;
  overflow: hidden;
  text-align: right;
}

#footer #foot-menu .content nav ul li {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 60%;
}

#footer #foot-menu .content nav ul li h5 {
  font: 14px 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#footer #foot-menu .content nav ul li li a {
  font-size: 14px;
}

#footer #foot-menu .content nav ul li li a:focus, #footer #foot-menu .content nav ul li li a:hover {
  text-decoration: underline;
}

#footer #copyright {
  font-size: 12px;
  overflow: hidden;
  width: 1200px;
  margin: 20px auto;
}

#footer #copyright ul {
  margin-bottom: 10px;
}

#footer #copyright ul li {
  display: inline-block;
}

#footer #copyright ul li a {
  font-weight: bold;
}

#footer #copyright ul li:first-child a:after {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 10px;
  content: '';
  background: #bbb;
}

#footer #copyright dl {
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
}

#footer #copyright dl dt,
#footer #copyright dl dd {
  display: inline-block;
}

#footer #copyright span {
  margin-left: 10px;
}

#footer #copyright p {
  font-weight: bold;
  color: #444;
}

#footer a:focus,
#footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1220px) {
  #header #header-wrapper {
    min-width: 1024px;
    max-width: 100%;
    padding: 35px 20px 0 20px;
  }
  #header #header-wrapper nav #gnb .sub div > li > a {
    margin-right: 20px;
  }
  #section02 .content article {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
  }
  #section02 .content article img {
    min-width: 100%;
    height: 100%;
  }
  .section .content {
    width: 100%;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .section .content > h6,
  .section .content > h3 {
    padding: 0 30px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  #footer #foot-menu .content,
  #footer #copyright {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
  }
}
/*# sourceMappingURL=sub.css.map */