//common
#skip-nav {
  font-size: 16px;
  line-height: 40px;
  position: fixed;
  z-index: 100000;
  top: -41px;
  left: 0;
  width: 100%;
  transition: .4s;
  text-align: center;
  color: white;
  border-bottom: 1px solid #e0e0e0;
  background: rgba(0, 0, 0, .6);
  &:focus {
    top: 0;
  }
}
.section {
  overflow: hidden;
  box-sizing: border-box;
  background: white;
  h1 {
    margin-top: 20px;
  }
  .content {
    overflow: hidden;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
  }
}
.s-menu {
  font: 16px 'Montserrat', sans-serif;
  font-weight: 600;
  word-spacing: 2px;
  text-transform: uppercase;
  color: #ce995c;
}

.m-menu {
  font: 40px 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: #222;
}

.btn {
  font: 14px 'Montserrat', sans-serif;
  font-weight: 500;
  display: block;
  width: 90px;
  padding: 10px 20px;
  transition: .4s;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #ce995c;
  border: 2px solid #ce995c;
  background: white;
}

.btn-item {
  width: 100px;
  margin: 0 auto;
  color: white;
  border-color: white;
  background: rgba(255, 255, 255, 0);
  &:focus,
  &:hover {
    border-color: #ce995c;
    background: #ce995c;
  }
}

span.text-indent {
  display: inline-block;
  text-indent: -999px;
}

#fix-box {
  display: none;
  overflow: hidden;
  a.fix-scroll-btn {
    position: fixed;
    z-index: 10000;
    right: 15px;
    bottom: 103px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    transition: .4s;
    color: rgba(255, 255, 255, .9);
    border-radius: 100px;
    background: #777;
    &:focus,
    &:hover {
      background: #ce995c;
    }
    &.down-btn {
      bottom: 60px;
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
@media screen and (max-width: 850px) {
  .section {
    .content {
      width: 100%;
    }
  }
  .s-menu {
    text-align: center;
  }
  .m-menu {
    font-size: 30px;
    text-align: center;
  }
  //only mobile btn
  .more-btn, .mobile-menu {
    display: block;
  }
  div.more-btn {
    margin: 30px auto 0;
    a.more-btn {
      display: block;
      border: 1px solid #444;
      box-sizing: border-box;
      color: #444;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      font-size: 11px;
      text-align: center;
      width: 150px;
      border-radius: 30px;
      letter-spacing: 2px;
      margin: 0 auto;
    }
  }
  .mobile-menu {
    float: left;
    overflow: hidden;
    width: 24px;
    height: 24px;
    margin-top: 5px;
    transition: .4s;
    span {
      position: relative;
      display: block;
      width: 50px;
      height: 3px;
      margin: 0 0 0 0;
      background: black;
      &:nth-child(2) {
        display: block;
        width: 20px;
        height: 3px;
        margin: 6px 0 0 0;
        background: black;
      }
      &:nth-child(3) {
        display: block;
        width: 50px;
        height: 3px;
        margin: 5px 0 0 0;
        background: black;
      }
    }
  }
  #header.m-open .mobile-menu span {
    &:nth-child(1) {
      transform: rotate(45deg);
      margin: 16px 0 0 -7px;
      background: white;
    }
    &:nth-child(2) {
      margin: -8px 0 0 0;
      opacity: 0;
    }
    &:nth-child(3) {
      display: block;
      width: 50px;
      height: 3px;
      margin: -9px 0 0 -7px;
      transform: rotate(-45deg);
      background: white;
    }
  }
}