//m_sub common
p {
  color: #777;
}
//setcion01
#section01 {
  height: 195px;
  margin-top: 55px;
  background: url('../img/body-bg01.jpg') center center no-repeat;
  background-size: cover;
  .content {
    text-align: center;
    color: white;
    height: 100%;
    background: rgba(167, 167, 167, .66);
    h2 {
      margin: 80px auto 0;
      font-size: 20px;
    }
    li {
      display: inline-block;
    }
  }
}

//setcion02
#section02 {
  height: 60px;
  border-bottom: 1px solid #ebebeb;
  .content {
    position: relative;
    width: 100%;
    padding-left: 20px;
    nav {
      overflow: hidden;
    }
    ul {
      overflow: hidden;
    }
    li {
      display: inline-block;
      overflow: hidden;
      a {
        padding: 5px;
        font-size: 14px;
        line-height: 60px;
      }
    }
    li+li:before {
      font-family: FontAwesome;
      font-size: 13px;
      display: inline-block;
      padding: 0 5px;
      content: '\f105';
    }
  }
}
//section03 common
#section03 {
  padding: 0 20px;
  box-sizing: border-box;
  .content {
    margin: 50px auto;
  }
}

//section03.company
#section03.company {
  .founder-wrap {
    height: 230px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    img {
      width: 100%;
      position: relative;
      overflow: hidden;
    }
  }
  .founder-text {
    position: absolute;
    width: 80%;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    &~.company-wrap {
      margin-top: 50px;
    }
  }
  .company-wrap {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
    p {
      padding-bottom: 0;
    }
    .company-img {
      box-sizing: border-box;
      overflow: hidden;
      img {
        width: 100%;
        min-height: 200px;
        overflow: hidden;
      }
    }
    p {
      padding: 20px 0;
      box-sizing: border-box;
      background: white;
      text-align: justify;
      font-size: 13px;
      vertical-align: bottom;
      overflow: hidden;
      &:before {
        content: '';
        display: inline-block;
        padding-right: 10px;
        margin-right: 5px;
      }
      span {
        font-size: 25px;
        color: black;
        font-family: serif;
        text-decoration: underline;
        margin: 5px;
      }
      strong {
        text-decoration: underline;
      }
    }
  }
}

//section03.vitamin
#section03.vitamin {
  padding: 0 10px;
  .content {
    text-align: center;
    > div {
      display: inline-block;
      position: relative;
      text-align: left;
      .vit-select {
        position: relative;
        text-align: left;
        width: 120px;
        overflow: hidden;
        border: 1px solid #ddd;
        box-sizing: border-box;
        font-size: 13px;
        padding: 10px 15px;
        background: white;
        &:after {
          content: '▼';
          position: absolute;
          top: 12px;
          right: 12px;
          font-size: 9px;
          color: #444;
        }
      }
      ul {
        width: 120px;
        overflow: hidden;
        border: 1px solid #ddd;
        box-sizing: border-box;
        border-top: none;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 1;
        display: none;
        li {
          background: white;
          font-size: 13px;
          padding: 10px 15px;
          box-sizing: border-box;
          &:focus,
          &:hover {
            background: #efefef;
          }
        }
      }
    }
    > ul {
      overflow: hidden;
      li {
        float: left;
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
        article {
          position: relative;
          overflow: hidden;
          &:focus,
          &:hover {
            transition: .4s;
            box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.2);
          }
          img {
            display: block;
            width: 100%;
          }
          a {
            position: absolute;
            left: 50%; bottom: 155px;
            transform: translate(-50%, 0);
            display: block;
            background: #777;
            color: white;
            font-weight: bold;
            height: 50px;
            line-height: 50px;
            font-size: 11px;
            text-align: center;
            transition: .4s;
            width: 200px;
            border-radius: 30px;
            z-index: 1;
            .fa-shopping-bag {
              margin-right: 5px;
            }
            &:focus,
            &:hover {
              background: #ce995c;
              transition: .4s;
            }
          }
          div {
            height: 180px;
            overflow: hidden;
            position: relative;
            h5 {
              font-weight: normal;
              font-size: 18px;
              text-align: center;
              box-sizing: border-box;
              margin: 40px auto 0;
              overflow: hidden;
              width: 65%;
              height: 50px;
            }
            p {
              width: 65%;
              height: 45px;
              margin: 15px auto 0;
              font-size: 12px;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

//section03.faq
#section03.faq {
  .content {
    margin-bottom: 100px;
  }
  .search-box {
    margin: 0 auto;
    text-align: center;
    input {
      border: none;
      width: 230px;
      height: 55px;
      border-bottom: 2px solid black;
      box-sizing: border-box;
      padding-left: 15px;
      font-size: 20px;
    }
    .fa-search {
      font-size: 25px;
      margin: 0 10px;
      vertical-align: middle;
    }
  }
  .faq-menu {
    margin: 50px auto 0;
    padding: 0 5% 50px 5%;
    overflow: hidden;
    border-bottom: 2px solid #222;
    li {
      float: left;
      width: 50%;
      border-bottom: 2px solid #ddd;
      box-sizing: border-box;
      line-height: 50px;
      text-align: center;
      font-size: 14px;
      &.on {
        border-bottom: 2px solid #222;
      }
    }
  }
  .faq-article {
    display: none;
    &.block {
      display: block;
    }
    label {
      display: block;
      position: relative;
      padding: 20px 50px 20px 20px;
      line-height: 20px;
      border-bottom: 1px solid #ddd;
      &.shopping:before,
      &.order:before,
      &.delivery:before {
        content: '[주문]';
        padding-right: 10px;
      }
      &.order:before {
        content: '[결제]';
      }
      &.delivery:before {
        content: '[배송]';
      }
      &:after {
        content: '';
        position: absolute;
        top: 22px;
        right: 20px;
        width: 20px;
        height: 20px;
        background: transparent url(../img/arrow_down.png) no-repeat center;
      }
    }
    li div {
      height: 0;
      overflow: hidden;
      background: #efefef;
    }
    input {
      display: none;
      &:checked~div {
        height: 100%;
        padding: 30px 50px;
        color: #444;
        font-size: 14px;
        line-height: 1.5;
      }
      &:checked+label:hover:after {
        background: transparent url(../img/arrow_up.png) no-repeat center;
      }
    }
  }
}

//section03.login-join common
#section03.login,
#section03.join {
  .content {
    text-align: center;
    h3 {
      margin: 25px auto;
    }
    h6 {
      font-size: 13px;
      font-weight: normal;
    }
  }
}

//section03 login
#section03.login {
  .all-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 40px auto 20px;
    .login-wrapper {
      overflow: hidden;
      max-width: 350px;
      margin: 0 auto;
      .tab {
        width: 100%;
        overflow: hidden;
        li {
          width: 50%;
          float: left;
          line-height: 45px;
          margin-bottom: 20px;
          border-bottom: 3px solid #bbb;
          color: #bbb;
          &.block {
            border-bottom-color: #222;
            color: #222;
          }
        }
      }
      .form-tab {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        display: none;
        &.on {
          display: block;
        }
        p.login {
          position: relative;
          overflow: hidden;
          label {
            position: absolute;
            top: 0;
            left: 10px;
            line-height: 55px;
            &.on {
              display: none;
            }
          }
          input {
            display: inline-block;
            width: 100%;
            height: 55px;
            box-sizing: border-box;
            padding: 0 10px;
            border: 1px solid #e0e0e0;
            font-size: 14px;
            font-family: inherit;
            vertical-align: middle;
            transition: all 0.3s;
            &.pw {
              border-top: none;
            }
          }
        }
        .login-save {
          color: #222;
          text-align: right;
          font-size: 14px;
          margin: 14px auto;
          label:first-of-type {
            margin-right: 20px;
          }
        }
        div {
          button {
            width: 100%;
            height: 55px;
            border: none;
            background: #222;
            color: white;
            transition: .4s;
            font-weight: bold;
          }
          ul {
            overflow: hidden;
            font-size: 13px;
            margin-top: 25px;
            li {
              display: inline-block;
              a {
                &:focus {
                  text-decoration: underline;
                }
              }
            }
            li+li:before {
              content: '';
              width: 2px;
              height: 10px;
              margin: 0 20px;
              background: #ddd;
              display: inline-block;
            }
          }
        }
      }
    }
    ul.login-sns {
      max-width: 350px;
      margin: 60px auto 0;
      text-transform: uppercase;
      li {
        position: relative;
        padding: 17px 30px 17px 15px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: right;
        a {
          transition: .4s;
          &:focus {
            letter-spacing: 1px;
            text-decoration: underline;
          }
        }
        span {
          position: absolute;
          top: 2px;
          left: 0;
          width: 55px;
          height: 50px;
          margin-left: 25px;
          color: white;
          overflow: hidden;
          img {
            margin: 5px 5px 5px 8px;
            height: 100%;
          }
        }
        &:nth-of-type(2) img {
          margin-left: -56px;
        }
        &:nth-of-type(3) img {
          margin-left: -119px;
        }
        &:nth-of-type(4) img {
          margin-left: -185px;
        }
      }
    }
  }
}

//#section03.join
#section03.join {
  .join-guide {
    max-width: 450px;
    margin: 50px auto 0;
    overflow: hidden;
    li {
      float: left;
      width: 33.333333%;
      overflow: hidden;
      div {
        position: relative;
        width: 80px;
        height: 120px;
        overflow: hidden;
        margin: 0 auto;
        span {
          &:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 85px;
            overflow: hidden;
          }
          &:nth-child(2) {
            position: absolute;
            bottom: 0;
            left: 12px;
          }
          img {
            width: 279px;
            margin: -13px 0 0 -12px;
          }
        }
      }
      &:nth-child(2) {
        span:nth-child(2) {
          color: #777;
        }
        img {
          margin: -102px 0 0 -99px;
        }
      }
      &:nth-child(3) {
        span:nth-child(2) {
          color: #777;
        }
        img {
          margin: -102px 0 0 -186px;
        }
      }
    }
  }
  table {
    width: 100%;
    margin: 50px auto 30px;
    border-top: 3px solid black;
    text-align: left;
    tr {
      height: 65px;
      border-bottom: 1px solid #ddd;
      overflow: hidden;
      box-sizing: border-box;
      padding: 10px 0;
    }
    th {
      padding: 15px;
      font-weight: normal;
      width: 30%;
      text-align: left;
      & label.essential:after {
        content: '*';
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
        color: red;
      }
    }
    td .btn {display: none;}
    input:not([type="checkbox"]),
    select {
      display: inline-block;
      width: 90%;
      height: 40px;
      box-sizing: border-box;
      padding-left: 10px;
      border: 1px solid #e0e0e0;
      font-size: 13px;
      font-family: inherit;
      vertical-align: middle;
      transition: all 0.3s;
      //margin-right: 25px;
    }
    .phone-num,
    input.phone-num {
     width: 30%;
      margin-right: 0px;
    }
    label {
      font-size: 13px;
    }
  }
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
  .terms-box {
    font-size: 13px;
    text-align: left;
    width: 95%;
    margin: 0 auto;
    li {
      padding: 15px 10px;
      border-bottom: 1px solid #eee;
      box-sizing: border-box;
      overflow: hidden;
      a {
        float: right;
        text-decoration: underline;
        &:focus,
        &:hover {
          color: #777;
        }
      }
      &:last-child {
        background: #f1f1f1;
      }
    }
  }
  .confirm-box {
    margin-top: 50px;
    li {
      display: inline-block;
    }
    input {
      width: 130px;
      height: 50px;
      &[type="reset"] {
        background: white;
        color: #444;
        border: 1px solid #444;
        box-sizing: border-box;
      }
    }
  }
  .btn {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    width: 140px;
    vertical-align: middle;
    font-size: 13px;
    border: none;
    background: #444;
    color: white;
    font-weight: bold;
    transition: .4s;
  }
}

//section03 search
#section03.search {
  .search-box {
    margin: 0 auto;
    text-align: center;
    input {
      border: none;
      width: 230px;
      height: 55px;
      border-bottom: 2px solid black;
      box-sizing: border-box;
      padding-left: 15px;
      font-size: 20px;
    }
    .fa-search {
      font-size: 25px;
      margin: 0 10px;
      vertical-align: middle;
    }
  }
  h3 {
    font-weight: normal;
    font-size: 20px;
    margin: 60px 0 0;
    text-align: center;
  }
  ul {
    background: #f1f1f1;
    padding: 20px 40px;
    margin: 50px 0 30px;
    li {
      line-height: 1.8;
      list-style: disc;
      color: #444;
    }
  }
}

//section03 store
#section03.store {
  .content {
    > h3 {
      margin: 25px auto;
      text-align: center;
    }
    > h6 {
      font-size: 14px;
      font-weight: normal;
      text-align: center;
    }
  }
  .select-box {
    margin: 60px 0 30px;
    overflow: hidden;
    h5 {
      display: inline-block;
      font-size: 20px;
      font-weight: normal;
      letter-spacing: 1px;
    }
    select {
      width: 120px;
      height: 30px;
      float: right;
      padding: 0 10px;
    }
  }
  li {
    border-top: 1px solid #e0e0e0;
    padding: 30px 20px;
    overflow: hidden;
    .store-img {
      position: relative;
      height: 200px;
      overflow: hidden;
      transition: .6s;
      text-align: center;
      a {
        z-index: 1;
        transition: .4s;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #e0e0e0;
        text-align: center;
        font-size: 13px;
        line-height: 200px;
        font-weight: bold;
        span {
          margin-right: 5px;
        }
      }
      &:focus,
      &:hover {
        a {
          opacity: 1;
          transition: .4s;
        }
      }
      img {
        position: relative;
        height: 100%;
        transition: .4s;
      }
      &:focus,
      &:hover {
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.8);
        transition: .6s;
      }
    }
    article {
      text-align: center;
      overflow: hidden;
      box-sizing: border-box;
      h5 {
        display: inline-block;
        font-size: 20px;
        margin: 15px;
        margin-left: 0;
        letter-spacing: -1px;
      }
      .fa-map-marker {
        cursor: pointer;
        font-size: 23px;
        color: #444;
        &:focus,
        &:hover {
          color: #ce995c;
        }
      }
      p {
        color: #444;
        font-size: 13px;
      }
      h6 {
        color: #222;
        font-size: 12px;
        margin-top: 5px;
      }
    }
  }
}
//store img pop-up
.overlay {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101000;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 30px;
  padding-top: 70px;
  color: white;
  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  h5 {
    display: inline-block;
    font-size: 23px;
    margin: 15px;
    margin-left: 0;
    letter-spacing: -1px;
  }
  p {
    font-size: 13px;
  }
  h6 {
    font-size: 12px;
    margin-top: 5px;
  }
  .fa-map-marker {
    cursor: pointer;
    font-size: 23px;
    &:focus,
    &:hover {
      color: #ce995c;
    }
  }
  .pop-close {
    display: inline-block;
    background: #777;
    padding: 10px 80px;
    transition: .4s;
    margin-top: 20px;
    font-size: 13px;
    &:focus,
    &:hover {
      background: #ce995c;
      transition: .4s;
    }
  }
}
//error-page
.content.error {
  text-align: center;
  font-size: 13px;
  img {
    width: 50px;
  }
  p {
    margin-top: 20px;
  }
  ul {
    width: 80px;
    margin: 40px auto 0;
    li {
      list-style: disc;
      line-height: 2;
    }
  }
}

@media screen and (max-width: 600px) {
  #section03.vitamin {
    .content {
      > ul {
        li {
          width: 100%;
        }
      }
    }
  }
}