@charset "UTF-8";
body {
  font: 15px 'Open Sans', 'Noto Sans KR', '맑은 고딕', sans-serif;
  background: url(../img/body-bg.jpg) no-repeat center bottom fixed;
  background-size: cover;
}

@import 'reset';
@import 'common';
@import 'm_header';
@import 'm_section';
@import 'm_footer';
@import 'imgslide';

@media screen and (max-width: 600px) {
  #section02 .content ul li {
    background-image: url('../img/m-item.jpg');
  }
  #section03 .content ul li {
    background-image: url('../img/m-regimen.jpg');
  }
  #section02 .content ul li,
  #section03 .content ul li {
    width: 100%;
    height: 300px;
    &:nth-of-type(2) {
      display: none;
    }
  }
  #section02 .content li.on div:not(.plus),
  #section03 .content li.on div:not(.plus) {
    display: none;
  }
}
